<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        *{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div>
    <div class="container">
        <h3>Italian cuisine is one of the most famous kitchens around the world and is one of the most luxurious and characteristic cuisines in the world. It is the origin of pasta and pizza that is unparalleled anywhere else.

            The Italian restaurant is undoubtedly one of the most outstanding and magnificent food establishments in my city. Characterized by the quiet atmosphere, its light-colored interior and its elegant, glamorous decor, it was once a cafe before turning into a restaurant with many qualities of the former.
            
            The restaurant offers delicious dining options, with Italian authentic flavor. Waiters in the restaurant are friendly and respectful.
            
            
            This place is no less than a typical example of how to build a restaurant.
            
            The restaurant serves many famous Italian meals.</h3>
            
            <h3>The chicken soup with cream is a great start to any meal, and I have not found a restaurant serving it as here. I prefer the Chicken Caesar Salad after it.
            
            My favorite dishes are the fettuccine Alfredo pasta with chicken, grilled chicken with cream and mushroom sauce. I love pizza of all kinds. They are all delicious and different options. Parmesan cheese is a good choice to accompany any Italian dish.
            
            Canoloni Agnolotti with garlic and rosemary is one of the best Italian dishes. Agnolotti is a stuffed pasta and is very similar to ravioli, served with some rosemary and garlic. This dish is one of the distinctive foods in Italian cuisine.
            
            Rap Arancini broccoli with marinara sauce is one of the best Italian dishes. It is rice balls with well fried broccoli and characterized by its golden color and served with marinara sauce.
            
            The restaurant also offers different types of juices with meals. Such as lemon juice with mint mixed with crushed ice is an effective recipe for extinguishing the heat of the atmosphere.</h3>
            
            
           <h3> The restaurant at the weekend is busy … my advice is to arrive early or book or call for booking to ensure a place.
            
            The restaurant is rated 4 stars and its prices are high.</h3>
            <h3>Eating in the restaurant is one of the good things. Since childhood, we did not encourage eating in restaurants a lot due to the loss of beneficial nutrients. The orders are always saturated with oils and fats.

                But because of the change and the experience of some new varieties, I became a lot more encouraged to eat in restaurants. One of my most favorite restaurants is the tomato Indian restaurant. They can always surprise me and offer one of those new meals or offer a modern sauce that I like.
                
                 </h3>
    </div>
    </div>
</body>
</html>

<footer id="last" style="text-align: center; margin-top: 200px;" >Copyright @ 2023 <br/>All Rights Reserved</footer>
