<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms and Conditions</title>
  <style>
    *{
      background-color: yellowgreen;
    }
  </style>
</head>
<body>
<ul>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum molestias id qui consequuntur pariatur inventore, repellendus veniam ullam dignissimos. Recusandae error itaque odio in maiores dolor porro eum exercitationem.
    </li>
  <li> 
     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quo voluptatem accusamus nam laboriosam hic distinctio dignissimos assumenda. Rerum accusamus molestiae ab hic incidunt ipsa. Placeat modi blanditiis deserunt sint?
  </li>
   <li>
     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi distinctio aliquid accusamus aspernatur veritatis placeat laudantium deserunt nobis ullam vero omnis natus aut, at tenetur qui doloribus in repellendus veniam!loading
    </li>
   <li> 
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nemo itaque eius fugit reprehenderit id quia sed? Incidunt, reprehenderit soluta inventore facilis ipsa reiciendis. Numquam voluptatem soluta sapiente nisi sit!
   </li>
   <li>
     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate consequuntur deleniti eos ab neque eius commodi corrupti voluptas assumenda, incidunt nemo nulla nesciunt suscipit dolorem et! Doloremque dolores temporibus explicabo!
    </li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus qui provident, enim cupiditate ullam quo asperiores corrupti! Similique, est? Rem, at natus illo fugit itaque laboriosam velit dolores ullam praesentium!</li>
  <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo et ea iure assumenda nam officiis quod accusantium error aspernatur voluptatum. Odit consequuntur, repellat accusantium quasi excepturi sed aperiam est ea.</li>  
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus expedita itaque temporibus saepe soluta voluptatibus adipisci dolore. Porro cupiditate iste dolorum odit quaerat deleniti sapiente incidunt. Rerum voluptatibus velit deserunt?</li>
  
  
  </ul>
  </body>
  </html>
    <%- include('partials/footer') %>